include ../header-city/header-city
include ../header-contacts/header-contacts
include ../header-more/header-more

mixin header-right()
	+b.header-right&attributes(attributes)
		+e.item
			+header-city()
		+e.item
			+header-contacts()
		+e.item
			+header-more()
