.header-right
	margin-right 10px
	font-size 0
	line-height 38px
	text-align right
	color white
	
	&__item
		position relative
		display inline-block
		font-size 14.6px
		vertical-align middle
		
		& + &
			margin-left 17px

			&::before
				position absolute
				left -11px
				display block
				content '|'
