.header-more
	display block
	
	&__link
		font-weight bold
		color inherit
	&__icon
		sprite($tri_arrow_white_down)
		position relative
		top 3px
		left -6px
		display inline-block
		transform scale(.9)
