include ../breadcrumbs-item/breadcrumbs-item
include ../breadcrumbs-total/breadcrumbs-total

mixin breadcrumbs()
	- var data = getData('breadcrumbs');

	+b.breadcrumbs&attributes(attributes)
		+e.items
			each item in data.items
				+e.item
					+breadcrumbs-item(item)
		+e.total
			+breadcrumbs-total(data.total)
