include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts
include ../header/header
include ../footer/footer
include ../rubrics/rubrics
include ../filters/filters
include ../breadcrumbs/breadcrumbs
include ../catalog-filter/catalog-filter
include ../catalog/catalog
include ../h1/h1

doctype html
html(lang='ru')
	include ../head/head
	+page
		+e.header
			+header()
		+e.middle
			.columns
				.columns__left
					+rubrics()
					+filters()
				.columns__center
					+breadcrumbs()
					+catalog-filter()
					+h1('Популярные')
					+catalog()
				.columns__right
		+e.footer
			+footer()
		block content
		+scripts(['app.min.js'])
