.catalog
	font-size 0
	
	&__item
		padding 5px
		display inline-block
		font-size 16px
		vertical-align top
		
		+below(400px)
			width 100%
		+between(400px, 800px)
			width 50%
		+between(800px, 1000px)
			width 33.3%
		+between(1000px, 1100px)
			width 50%
		+between(1100px, 1250px)
			width 33.3%
		+between(1250px, 1400px)
			width 25%
		+between(1400px, 1600px)
			width 20%
		+between(1600px, 1800px)
			width (100% / 6)
		+above(1800px)
			width (100% / 7)
