include ../catalog-item/catalog-item

mixin catalog()
	- var items = getData('items');

	+b.catalog&attributes(attributes)
		each val in [1,2,3]
			each item in items
				+e.item
					+catalog-item(item)
