.checkbox
	display block
	white-space nowrap
	
	&__box
		size(20px)
		display inline-block
		border 2px solid #cdcdcd
		background-color white
		position relative
		top 3px

	&__text
		padding-left 3px
		