.header-search
	&__query
	&__submit
		padding-top 5px
		padding-bottom 6px
		display inline-block
		height 50px
		vertical-align top
	&__query
		padding-right 5px
		padding-left 20px
		width 295px
		border 1px solid #ccc
		border-radius 5px

	&__submit
		padding-right 25px
		padding-left 25px
		font-family 'Trebuchet MS'
		font-size 20px
		font-weight bold
		color white
		background-color #3dbe70
		border none
		border-radius 5px
