.catalog-filter
	margin-top 16px
	background-color #d6eb9c
	border-radius 4px

	&__block
		margin 0 10px
		padding 10px 0

		& + &
			border-top 1px solid white

	&__title
		font-weight bold
		text-align center

	&__columns
		& + &
			margin-top 20px
