include ../double-input/double-input
include ../select/select
include ../checkbox/checkbox
include ../catalog-filter-sorter/catalog-filter-sorter

mixin catalog-filter()
	+b.catalog-filter&attributes(attributes)
		+e.block
			+e.title Фильтры по подбору подарка
		+e.block
			.catalog-filter__columns.columns
				.columns__column.columns__column_2
					.field
						.field__label Цена:
						+double-input('руб.')
				.columns__column.columns__column_2
					.field
						.field__label Доставка в
						+select('Выберите город')
			.catalog-filter__columns.columns
				.columns__column.columns__column_5
					.field
						.field__label Тип подарка
				.columns__column.columns__column_5
					+checkbox('Романтические')
					+checkbox('Серьезные')
					+checkbox('Съедобные')
				.columns__column.columns__column_5
					+checkbox('Полезные')
					+checkbox('Приколы')
					+checkbox('Деловые')
				.columns__column.columns__column_5
					+checkbox('Недорогие')
					+checkbox('Нейтральные')
				.columns__column.columns__column_5
					+checkbox('Оригинальные')
					+checkbox('Памятные')
		+e.block
			+e.sort
				+catalog-filter-sorter()
