include ../menu/menu
include ../header-right/header-right
include ../logo/logo
include ../header-search/header-search
include ../header-personal/header-personal

mixin header()
	+b.header&attributes(attributes)
		+e.top
			+e.left
				+menu()
			+e.right
				+header-right()
		+e.bottom
			+e.logo
				+logo()
			+e.search
				+header-search()
			+e.personal
				+header-personal()
