.header
	&__top
		display table
		width 100%
		background-color #1985d1

	&__bottom
		display table
		width 100%
	
	&__left
	&__right
		display table-cell
		vertical-align top

	&__logo
	&__search
	&__personal
		padding 18px 15px
		display table-cell
		vertical-align middle

	&__logo
		width 263px
