.arrow
	position relative
	display inline-block

	&::before
	&::after
		position absolute
		top 50%
		right 0
		width 10px
		height 1px
		content ''
		background #bbb
		transform-origin 100% 50%
	&::before
		transform rotate(60deg)
	&::after
		transform rotate(-60deg)
