.rubrics
	&__title
		padding 11px 10px
		text-align center
		text-transform uppercase
		background-color #ececec

	&__groups
		padding 15px 15px 15px 30px
		font-size 14.6px
		background-color white

	&__group
		& + &
			margin-top 22px
