include ../rubrics-group/rubrics-group

mixin rubrics()
	- var rubricsGroups = getData('rubrics');

	+b.rubrics&attributes(attributes)
		+e.P.title Рекомендуем рубрики
		+e.groups
			each group in rubricsGroups
				+e.group
					+rubrics-group(group)
