.breadcrumbs-item
	display block
	
	&__link
		&
			font-weight bold
		&[href]
			font-weight normal
			color linkColor
	&__arrow
		position relative
		top -6px
		padding 0 8px
		display inline-block
		width 8px
