.columns
	display table
	width 100%
	
	&__left
	&__center
	&__right
		display table-cell

	&__left
	&__right
		width 225px

	&__column
		display table-cell
		font-size 16px
		
		for $i in 2..6
			&_{$i}
				width 100% / $i

	+above(1000px)
		&__center
			padding-right 30px
			padding-left 30px
	+below(1000px)
		&__center
			padding-right 10px
			padding-left 10px

	+below(1000px)
		&__left
		&__right
			display none