mixin catalog-item(item)
	+b.catalog-item&attributes(attributes)
		+e.A.image-link(href='#')
			+e.IMG.image(src=item.src)
		+e.content
			+e.A.title-link(href='#')
				+e.SPAN.title=item.title
			+e.P.price
				+e.SPAN.price-value=item.price
				+e.SPAN.price-text руб.
