.catalog-item
	display block
	width 100%
	overflow hidden
	border 1px solid #e6ecee
	border-radius 7px
	box-shadow 0px 0px 10px #e6ecee
	background-color white
	font-size 14.6px
	
	&__image-link
		display block
		width 100%
	&__image
		width 100%

	&__content
		padding 15px 10px 10px

	&__title
		display block
		overflow hidden
		white-space nowrap
		text-overflow ellipsis
		padding-bottom 5px

	&__price
		margin-top 5px
		font-size 18.6px
		text-align right
	&__price-value
		font-weight bold
	&__price-text
		font-size 16px
